.input-card {
  padding: 20px;
  margin: 20px auto;
  gap: 10px;
  flex-direction: column;
  display: flex;
}

.holder {
  margin: 20px;
}

.clear-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-text {
  margin-bottom: 10px;
}
