.input-card {
  padding: 20px;
  margin: 20px auto;
}

.holder {
  margin: 20px;
}

.clear-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.text-input {
  flex: 1;
}
