.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 20px;
}

.card-item {
  padding: 15px;
}

.search-bar {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.dev-utils-title {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.contribute-holder {
  text-align: center;
  margin-bottom: 10px;
}

.contribute-button {
  margin-left: 10px;
  margin-right: 10px;
}
