.input-card {
  padding: 20px;
  margin: 20px auto;
}

.holder {
  margin: 20px;
}

.clear-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.diff-output {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  white-space: pre-wrap; /* Preserve line breaks and spaces */
  font-family: monospace; /* Monospace font for better alignment */
}

.example-card {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.example-card {
  background-color: #f7f7f7;
  border-left: 5px solid #137cbd;
}
