.input-card {
  padding: 20px;
  margin: 20px auto;
}

.holder {
  margin: 20px;
}

.clear-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rgb-output {
  margin-top: 10px;
}

.rgb-field {
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container .bp3-input-group {
  flex: 1;
}

.input-container div {
  margin-left: 10px;
}
