.input-card {
  padding: 20px;
  margin: 20px auto;
}

.holder {
  margin: 20px;
}

.clear-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-card {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.example-card {
  background-color: #f7f7f7;
  border-left: 5px solid #137cbd; /* BlueprintJS primary color */
}

.example-json {
  margin-bottom: 10px;
}

.example-csv {
  background-color: #eaeaea;
}
